{# templates/articles/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste des Articles{% endblock %}

{% block body %}
    <h1>Liste des Articles</h1>


    {% if articles %}
        <table id="articles" class="table table-striped">
 <thead>
 <tr>
 <th>Nom</th>
 <th>Prix</th>
 <th>Catégorie</th>
 <th>Actions</th>
 </tr>
 </thead>
 <tbody>
 {% for article in articles %}
 <tr>
 <td>{{ article.nom }}</td>
 <td>{{ article.prix }}</td>
 <td>{{ article.Category.titre }}</td>
 <td><a href="/article/{{ article.id }}" class="btn btndark">Détails</a>
 <a href="/article/edit/{{ article.id }}" class="btn btndark">Modifier</a>
 <a href="/article/delete/{{ article.id }}" class="btn btndanger"
 onclick="return confirm('Etesvous sûr de supprimer cet article?');">Supprimer</a>
 </td>
 </tr>
 {% endfor %}
 </tbody>
 </table>

    {% else %}
        <p>Aucun article trouvé.</p>
    {% endif %}
{% endblock %}
